@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  color: black;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  
}

.pop{
  font-family: poppins;
}

.capri{
 font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
